// Typography
body {
  font-family:"ff-tisa-web-pro", "Lucida Bright", "Droid Serif", Georgia, serif;
}
.marquee-heading {
  font-family:"freight-sans-pro", "Avenir Next," Helvatica, "Droid Sans", sans-serif; 
}

// Containers and Grid
.bound {
  margin:0 auto;
  max-width:33.75em;
  width:87.5%;
}