.index {
  font-size:0.8em;
  @include respond-to(medium-screens) {
    font-size:1em;
  }
  header {
    background:url(../images/intro-el-lay.jpg) no-repeat 50% 20%;
    background-size:cover;
    height:27em;
    padding-top:3em;
    text-align:center;
  }
    h1 {
      @extend .marquee-heading;
      color:$white;
      font-size:2.875em;
    }
    h2 {
      color:$brightAccent;
      font-size:2em;
      font-weight:400;
      line-height:1.4375em;
    }
  main {
    padding:2em 0;
  }
    p {
      color:$medGray;
      font-size:1.25em;
      line-height:1.5em;
    }
    a {
        color:$linkAccent;
        text-decoration:none;
        &:hover {
          color:lighten($linkAccent, 20%);
        }
      }
  footer {
    hr {
      background:$lightGray;
      border:0;
      height:1px;
    }
    .fineprint {
      color:$medGray;
      font-size:0.75em;
    }
  }
}