.index {
  header {
    height:27em;
    padding-top:3em;
    position:relative;
    text-align:center;

    .img-src {
        position:absolute;
        background-image:url('../images/bg-el-lay.jpg');
        background-position:50% 20%;
        background-size:cover;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }
    .img-src.color {
      background-image:url('../images/bg-el-lay-color.jpg');
      opacity:0;
    }

    .bound {
      position:relative;
      z-index:100;
    }

  }
    h1 {
      @extend .marquee-heading;
      color:$white;
      font-size:2.875em;
    }
    h2 {
      color:$brightAccent;
      font-size:2em;
      font-weight:400;
      line-height:1.4375em;
      margin:0 auto;
      max-width:14em;
    }
  main {
    background:$white;
    padding:2em 0;
    z-index:200;
  }
    p {
      color:$darkGray;
      font-size:1.25em;
      line-height:1.5em;
    }
    a {
        color:$linkAccent;
        text-decoration:none;
        &:hover {
          color:lighten($linkAccent, 20%);
        }
      }
}