// Font Icon
 
@charset "UTF-8";
 
@font-face {
  font-family: "sd";
  src:url("fonts/sd.eot");
  src:url("fonts/sd.eot?#iefix") format("embedded-opentype"),
    url("fonts/sd.ttf") format("truetype"),
    url("fonts/sd.svg#sd") format("svg"),
    url("fonts/sd.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
 
[data-icon]:before {
  font-family: "sd" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "sd" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
 
.icon-chevron:before {
   content: "v"; 
} 
 
.icon-close:before {
   content: "x"; 
} 
 
.icon-menu:before {
   content: "m"; 
}