// Media Queries for larger screens

// For those 'in-between' screens
@media (min-width:40em) and (max-width:49.99999em) {
  .swipe-wrap {
    > div {
      figure {
        margin:0 auto;
        max-width:540px;
        text-align:center;
        img {
          display:block;
          margin:0 auto;
        }
      }
    }
  }
}
// Styles for larger screens
@media (min-width:58em) {
  .blog {

    .post {
      margin-left:8.125em;
      margin-right:8.125em;

      .post-meta {
        font-size:0.83em;
        time, .tags, a {
          display:inline-block;
        }
        .divider {
          display:inline-block;
          margin:0 10px;
        }
      }

      ol {
        margin-left:1.6em;
      }

      ul {
        margin-left:1.5em;
      }

      figure {
        figcaption {
          line-height:1.3em;
        }
      }
    }

    // pull post title out beyond the boundaries of the text column
    h1 {
      font-size:3.49em;
      margin-left:-2.321428571em;
      margin-right:-2.321428571em;
    }

    // pull figures and big blockquotes out beyond the boundaries of the text column
    figure, blockquote.big {
      margin-left:-8.125em;
      margin-right:-8.125em;
    }
    
  }

  // Work Landing page
  .work-list {
    height: 100%;

    header {
      text-align: center;
    }
    h2 {
      border-bottom: 1px solid $black;
      color: $black;
      display: inline-block;
      font-size:1.8em;
      font-weight: 300;
      line-height:1em;
      margin: 3em 0 2em;
      padding-bottom: 8px;
      text-align: center;
    }

    .work-items {
      @include clearfix;
      position: relative;
      width: 100%;
    }

    .work-item {
      background: $black;
      color: $white;
      display: block;
      float: left;
      margin-bottom: 0;
      margin-right: 2%;
      overflow: hidden;
      padding-bottom: 32%;
      width: 32%;
      height: auto;
      position: relative;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        .item-bg {
          opacity: 0.4;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
        .item-summary {
          top: 0px;
          opacity: 1;
        }
        h4 {
          opacity: 0;
          transform: zoom(0);
        }
      }

      .item-bg {
        transition: all 0.2s;
        opacity: 0.8;
        position: absolute;
        left:-20px;
        right:-20px;
        top:-20px;
        bottom:-20px;
        z-index: 299;
      }

      h3 {
        @extend .marquee-heading;
        font-size: 2.2em;
        margin: 1.2em 0 0.6em;
        position: relative;
        z-index: 300;
      }
      h4 {
        @extend .marquee-heading;
        transition: all 0.1s;
        position: absolute;
        top: 5%;
        left: 5%;
        right: 5%;
        border-bottom: 1px solid $white;
        color: $white;
        font-size: 1.5em;
        margin: 0;
        padding-bottom: 8px;
        text-align: left;
        transform: zoom(1);
        z-index: 302;
      }
      .item-summary {
        transition: all 0.2s;
        top:10px;
        opacity: 0;
        padding: 0 10%;
        position: absolute;
        z-index: 301;
        p {
          color: $white;
          font-size: 1.25em;
        }
        button {
          transition: all 0.15s;
          @extend .marquee-heading;
          background: transparent;
          border: 1px solid $white;
          color: $white;
          font-size: 1em;
          font-weight: 400;
          margin-top: 10px;
          padding: 10px 18px;
          text-transform: uppercase;
          &:hover {
            background: #12A17A;
          }
        }
      }
    }
  }
}

@media (min-width:940px) and (max-width:1160px) {
  .work-list {
    .work-item {
      h3 {
        font-size: 1.8em;
        margin-top: 1em;
      }
      .item-summary {
        p {
          font-size: 1em;
        }
      }
    }
  }
}

// We're on a larger screen, let's use that extra real estate
@media (min-width:40em) {
  .index {
    h1 {
      font-size: 2.875em;
    }
  }
  .marquee {
    h3 {
      font-size: 3em;
    }
  }

  .interior {
    padding-top:0;

    // global header elements
    .global-header {
      background:transparent;
      position:absolute;
      h1 {
        float:left;
        font-size:1.375em;
        padding:17px 0;
        a {
          color:$white;
        }
      }
    }

    hr.ledge {
      display:none;
    }

    // display full site nav in the masthead
    .site-nav {
      background:transparent;
      float:right;
      height:auto;
      overflow:visible;
      position:relative;
      width:auto;

      // hide some costmetic elements we don't need on larger screens  
      h1, .nav-close, hr, h4 {
        display:none;
      }

      ul {
        float:left;
        list-style:none;
        li {
          float:left;
          &.home {
            display:none;
          }
          a {
            color:white;
            font-size:1em;
            margin:18px 0;
            padding:0 10px;
            text-transform:uppercase;
            &:hover {
              color: lighten(#12A17A, 12%);
            }
            &:active {
              background:transparent;
            }
            &.active {
              position:relative;
              &:before {
                display:none;
              }
              &:after {
                bottom:-1px;
                content:"";
                background: white;
                display:block;
                height:1px;
                left:10px;
                position:absolute;
                right:10px;
              }
            }
            i {
              display:inline-block;
              font-size:0.9em;
              line-height:1em;
              margin-top:5px;
            }
            span {
              @include hide-text();
            }
          }
        }
      }
    }

    .marquee {
      padding:6em 0 4em;
      header {
        float:none;
        opacity:1;
        width:auto;
      }
      h2 {
        font-size:2.625em;
        margin-bottom:0;
      }
      .description {
        color:$lightAccent;
        font-size:1.375em;
        margin-top:0;
      }
      &.single-project {
        background-color:$subduedAccent;
        background-position:center center;
        background-repeat:no-repeat;
        padding:8em 0 20em;
      }
    }


    .meta {
      text-align:left;
    }

    .project-details {

      .product-shot {
        float:none;
        margin-top:0;
        position:relative;
        width:auto;
        z-index:199;

        .button {
          bottom:auto;
          display:block;
          font-size:1.4em;
          margin:0 auto;
          position:relative;
          width:14em;
        }

        img {
          margin-top:-16em;
          position:relative;
          z-index:200;
        }
      }

      .problem {
        padding:8em 0 1em;
      }
    }


    &.work_kpcc-ipad {
      .project-details {
        .product-shot {
          img {
            margin-left:auto;
            margin-right:auto;
            max-width:37.5em;
          }
        }
      }
    }
  }

  .checklist {
    p, ul {
      margin-right:4em;
      margin-left:4em;
    }
  }

  .gallery {
    background:$white;

    .section-header {
      h4 {
        color:$darkGray;
        span {
          background:$white;
        }
      }
      hr {
        background:$paleGray;
      }
    }

    nav .bullets {
      li {
        border-color:$lightGray;
        &.on {
          background:$deepGray;
        }
      }
    }
  }

  .swipe {
    max-width:880px;
  }

    .swipe-wrap > div {
      padding:0;

      figcaption {
        margin:0;
      }
    }

  .no-touch {

    .slider-nav {
      background:$white;
      opacity:0.2;
      &.next {
        border-color:$deepGray;
        &:after {
          border-left-color:$deepGray;
        }
      }
      &.prev {
        border-color:$deepGray;
        &:after {
          border-right-color:$deepGray;
        }
      }
    }

    .gallery:hover {
      .slider-nav {
        opacity:0.5;
      }
    }
  }


  .nav-toggle {
    display:none;
  }

  // Blog, Rudimental styles
  .blog, .rudimental {

    .global-header {
      background:#12A17A;
      background-size:cover;
      margin-bottom:4em;
      position:relative;
    }

    .post {
      h1 {
        font-size: 2.9em;
        text-align: center;
      }
      .post-meta {
        font-size:0.83em;
      }
    }

  }
}
