// Media Queries for larger screens

// For those 'in-between' screens
@media (min-width:40em) and (max-width:49.99999em) {
  .swipe-wrap {
    > div {
      figure {
        margin:0 auto;
        max-width:540px;
        text-align:center;
        img {
          display:block;
          margin:0 auto;
        }
      }
    }
  }
}

// We're on a larger screen, let's use that extra real estate
@media (min-width:40em) {

  .work {
    padding-top:0;

    // global header elements
    .global-header {
      background:transparent;
      position:absolute;
    }

    h1 {
      float:left;
      font-size:1.375em;
      padding:17px 0;
      a {
        color:$white;
      }
    }

    hr.ledge {
      display:none;
    }

    // display full site nav in the masthead
    .site-nav {
      background:transparent;
      float:right;
      height:auto;
      overflow:visible;
      position:relative;
      width:auto;

      // hide some costmetic elements we don't need on larger screens  
      h1, .nav-close, hr, h4 {
        display:none;
      }

      ul {
        float:left;
        list-style:none;
        li {
          float:left;
          &.home {
            display:none;
          }
          a {
            color:$linkMenu;
            font-size:1em;
            margin:18px 0;
            padding:0 10px;
            text-transform:uppercase;
            &:hover {
              color:$brightAccent;
            }
            &:active {
              background:transparent;
            }
            &.active {
              color:$lightAccent;
              &:before {
                display:none;
              }
              &:hover {
                color:$brightAccent;
              }
            }
            i {
              display:inline-block;
              font-size:0.9em;
              line-height:1em;
              margin-top:5px;
            }
            span {
              @include hide-text();
            }
          }
        }
      }
    }

    .marquee {
      background:$subduedAccent url('../images/bg-marquee-work-landing.jpg') no-repeat left top;
      background-size:cover;
      padding:6em 0 4em;
      header {
        float:none;
        opacity:1;
        width:auto;
      }
      h2 {
        font-size:2.625em;
        margin-bottom:0;
      }
      .description {
        color:$lightAccent;
        font-size:1.375em;
        margin-top:0;
      }
      &.single-project {
        background-color:$subduedAccent;
        background-position:center center;
        background-repeat:no-repeat;
        padding:8em 0 20em;
      }
    }

      &.work_kpcc-ipad {
        .marquee.single-project {
          background-image:url('../images/bg-marquee-kpcc-ipad.jpg');
          background-size:cover;
        }
      }

      &.work_half-in-ten {
        .marquee.single-project {
          background-image:url('../images/bg-marquee-half-in-ten.jpg');
          background-size:cover;
        }
      }

      &.work_kpcc-redesign {
        .marquee.single-project {
          background-image:url('../images/bg-marquee-kpcc-redesign.jpg');
          background-size:cover;
        }
      }

      &.work_kpcc-newsletters {
        .marquee.single-project {
          background-image:url('../images/bg-marquee-kpcc-emails.jpg');
          background-size:cover;
        }
      }

      &.work_highlander-orientation {
        .marquee.single-project {
          background-image:url('../images/bg-marquee-ucr-orientation.jpg');
          background-size:cover;
        }
      }

    .meta {
      text-align:left;
    }

    .project-details {

      .product-shot {
        float:none;
        margin-top:0;
        position:relative;
        width:auto;
        z-index:199;

        .button {
          bottom:auto;
          display:block;
          font-size:1.4em;
          margin:0 auto;
          position:relative;
          width:14em;
        }

        img {
          margin-top:-16em;
          position:relative;
          z-index:200;
        }
      }

      .problem {
        padding:8em 0 1em;
      }
    }

  }

  .checklist {
    p, ul {
      margin-right:4em;
      margin-left:4em;
    }
  }

  .gallery {
    background:$white;

    .section-header {
      h4 {
        color:$darkGray;
        span {
          background:$white;
        }
      }
      hr {
        background:$paleGray;
      }
    }

    nav .bullets {
      li {
        border-color:$lightGray;
        &.on {
          background:$deepGray;
        }
      }
    }
  }

  .swipe {
    max-width:880px;
  }

    .swipe-wrap > div {
      padding:0;

      figcaption {
        margin:0;
      }
    }

  .no-touch {

    .slider-nav {
      background:$white;
      opacity:0.2;
      &.next {
        border-color:$deepGray;
        &:after {
          border-left-color:$deepGray;
        }
      }
      &.prev {
        border-color:$deepGray;
        &:after {
          border-right-color:$deepGray;
        }
      }
    }

    .gallery:hover {
      .slider-nav {
        opacity:0.5;
      }
    }
  }


  .nav-toggle {
    display:none;
  }

  .work-list {

    .work-item {
      @include clearfix();

      header {
        float:left;
        width:60%;
      }

      > a {
        float:right;
        width:33%;
      }

      p  {
        font-size:1em;
      }
    }
  }
}
