// STYLES FOR SINGLE PROJECT VIEW

.single-project {
  background: white;

  // set up default max-width for our content
  .bound {
    max-width: grid-calc(6);
  } 

  &.kpcc-iphone {
    .project-marquee {
      background: url('../images/kpcc-iphone/bg-iphone-hero.jpg') no-repeat center top;
      background-size: cover;
    }
  }
}
// Project Marquee
.project-marquee {
  color: white;
  min-height: grid-height(15);
  text-align: center;
}
.marquee-header {
  @extend .marquee-heading;
  margin-top: grid-height(3);
}
// Project Title and Description
.project-title {
  color: white;
  font-size: em(61);
  line-height:1em;
  margin:0;
  padding:14px 0;
}
.project-description {
  font-size: em(27);
  line-height: em(31, 27);
  margin: 0;
}
.project-responsibilities {
  font-size: em(16);
  dd, dt {
    display: inline-block;
    margin: 0;
  }
  dt {
    font-weight: 700;
  }
}

// Project Details
.project-details {
  padding-top: grid-height(2);
}
// Project Body Copy Styles 
.narrative {
  margin-bottom: grid-height(3);
  p, li {
    font-size: em(18);
    line-height: em(31);
  }
}
// Project Figure Styles
.figure {
  display: block;
  &.triptych {
    @include clearfix;
    margin: grid-height(2) grid-pull-calc(3);
    .img-container {
      float: left;
      margin-right: 2%;
      text-align: center;
      width: 32%;
      &:last-of-type {
        margin-right: 0;
      }
    }
    .caption {
      margin: 0 grid-push-calc(2);
    }
  }
  &.quadrant {
    @include clearfix;
    margin: grid-height(2) grid-pull-calc(1);
    .img-container {
      float: left;
      margin-bottom: 21px;
      margin-right: 3%;
      text-align: center;
      width: 48.5%;
      &:nth-of-type(even) {
        margin-right: 0;
      }
    }
  }
  &.prototypes {
    text-align: center;
  }
}
.img-bin {
  @include clearfix;
}
.caption {
  color: $medGray;
  font-size: em(14);
  line-height: em(24);
  text-align: center;
}

// Chapter Introductions
.chapter-introduction {
  @extend .marquee-heading;
  @include linear-gradient(90deg, #3593C0, #18B180);
  color: white;
  margin-bottom: grid-height(3);
  min-height: grid-height(17);
  text-align: center;
  .bound {
    max-width: grid-calc(8);
  }

  // iPhone Chapters
  $chapters: ("discovery", "design", "prototyping");

  @each $chapter in $chapters {
    .#{$chapter} &  { 
      background: url('../images/kpcc-iphone/bg-#{$chapter}.jpg') no-repeat center top;
      background-size: cover;
    }
  }
}
.chapter-title {
  display: inline-block;
  font-size: em(41);
  margin-bottom: grid-height(3.5);
  &:after {
    background: white;
    content: "";
    display: block;
    height:1px;
    margin-top: $grid-height / 2;
  }
}
.chapter-teaser {
  font-size: em(24);
  line-height: em(32, 24);
}

// Chapter Intermissions
.intermission {
  @extend .marquee-heading;
  text-align: center;
  &.wireframes {
    background: #12A17A;
    color: white;
  }
}

// Device Mocks
.marvel-device {
  margin: grid-height(2) auto;
  .screen {
    background: black;
  }
}

.gallery {
  background:$black;
  overflow:hidden;
  margin:3em 0 2em;
  padding:1em 0;
  position:relative;

  .section-header {
    padding:1em 0;
    h4 {
      span {
        background:$black;
      }
    }
    hr {
      background:lighten($black, 15%);
      top:30%;
    }
  }

  nav {
    text-align:center;

    .bullets {
      @include clearfix();
      padding:0;
      li {
        border:1px solid $deepGray;
        border-radius:4px;
        display:inline-block;
        margin:0 5px;
        width:8px;
        height:8px;
        &.on {
          background:$white;
          border:0;
        }
      }
    }

  }
}

  .swipe {
    margin:0 auto;
    max-width:540px; 
    overflow: hidden;
    visibility: hidden;
    position: relative;
  }

  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }

  .swipe-wrap > div {
    float:left;
    width:100%;
    padding:0 1em;
    position: relative;

    figure  {
      position:relative;
    }

    figcaption {
      background:rgba($black, 0.85);
      color:$paleGray;
      font-size:0.9em;
      margin:0;
      position:absolute;
      left:0;
      right:0;
      bottom:0;

      p {
        @extend .marquee-heading;
        padding:0 10px;
      }
    }
  }

  .no-touch .slider-nav {
    background:rgba(0,0,0,0.4);
    border:2px solid $white;
    border-radius:22px;
    display:block;
    margin-top:-22px;
    opacity:0.65;
    position:absolute;
    width:44px;
    height:44px;
    top:55%;
    z-index:400;
    &:hover {
      cursor:pointer;
      opacity:1;
    }
    &:active {
      opacity:0.6;
    }
    &:after {
      content:"";
      display:block;
      position:absolute;
      top:10px;
    }
    &.prev {
      left:2%;
      &:after { 
        @include triangle(20px, $white, left);
        left:3px;
      }
    }
    &.next {
      right:2%;
      &:after { 
        @include triangle(20px, $white, right);
        right:3px;
      }
    }
  }


// Next Project
.next-project {
  color:$white;
  height:24em;
  margin-bottom:-8em;
  position:relative;

  footer {
    padding-top:3em;
  }

  .next-bg {
    background:darken($subduedAccent, 13%);
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:-3;
  }
  footer {
    height:20em;
    position:fixed;
    bottom:4em;
    left:0;
    right:0;
    text-align:center;
    h3, p {
      @extend .marquee-heading;
    }
    h3 {
      font-size:2em;
      margin-bottom:0;
    }
    h5 {
      color:$lightAccent;
      font-size:1em;
      font-weight:400;
    }
    p {
      margin-top:0;
      a {
        color:$white;
      }
    }
    a {
      color:$white;
      &:hover {
        color:$brightAccent;
      }
    }
  }
}