// Color Variables
$white          : #FFF;
$nearWhite      : #EEEFF3;
$black          : #000;
$nearBlack      : #121212;

$paleGray       : #F3F3F3;
$lightGray      : #999EA5;
$medGray        : #6B7579;
$deepGray       : #575E68;
$copyGray       : #333;
$darkGray       : #222;

$medDivider     : #B7BCC2;

$brightAccent   : #02DAFF;
$brightAccentAlt: #14B9D5;
$lightAccent    : #A7DBE1;
$darkAccent     : #323A45;
$linkAccent     : #009bb8;
$linkMenu       : #4c97a0;

$subduedAccent  : #1f5c67;

// Media Query variables
$bp-med         : 580px;
$bp-large       : 1024px;

// Grid variables
$grid-col       : 5em;
$grid-gutter    : 1.375em;
$grid-height    : 32px;