// Color Variables
$white       : #fff;
$black       : #000;

$lightGray   : #D2D4D8;
$medGray     : #6B7579;
$deepGray    : #575E68;

$medDivider  : #B7BCC2;

$brightAccent: #02DAFF;
$lightAccent : #A7DBE1;
$linkAccent  : #009bb8;

// Media Query variables
$bp-med      : 580px;
$bp-large    : 1024px;