// STYLES FOR WORK PAGES

// Global nav and site branding styles for interior pages
.interior {
  padding-top:50px;

    &.work {
      .global-header .bound {
        max-width: grid-calc(12);
      }
    }

    .bound {
      max-width:55em;
    }

    // Style nav for small screens
    .site-nav {
      @extend .marquee-heading;
      overflow: hidden; 
      clip: rect(0 0 0 0); 
      height: 1px; width: 1px; 
      margin: -1px; 
      padding: 0; 
      border: 0; // Hide menu for small screens by default
      position:fixed;
      left:0;
      right:0;
      top:0;
      bottom:-100px;
      z-index:300;
      background:rgba($black, 0.95);
      display:block;
      &.active {
        overflow:visible;
        clip:auto;
        height:100%;
        width:100%;
        margin:0;
        padding:0 10px;
      }

      hr {
        background:rgba($white, 0.1);
      }

      h4 {
        color:$lightAccent;
        font-size:1em;
        font-weight:400;
        margin-bottom:.5em;
        padding:0 10px;
        text-transform:uppercase; 
      }

      ul {
        margin:0;
        padding:0;
        li {
          a {
            color:$white;
            display:block;
            font-size:1.640625em;
            margin:8px 0;
            padding:10px;
            position:relative;
            text-decoration:none;
            i { display:none; }
            &:active {
              background:$black;
              color:$brightAccent;
            }
            &.active {
              &:before {
                content:"";
                background:#14B9D5;
                border-radius:12px;
                display:block;
                position:absolute;
                width:12px;
                height:12px;
                left:-18px;
                top:50%;
                margin-top:-6px;
                filter: blur(5px);
                -webkit-filter: blur(5px);
              }
            }
          }
        }
      }

      // Dismiss menu for small screens
      .nav-close {
        cursor:pointer;
        position:absolute;
        left:20px;
        top:20px;
        &:before {
          color:$medDivider;
          font-size:1em;
        }
      }
    }

    // Menu toggle for small screens
    .nav-toggle {
      cursor:pointer;
      position:absolute;
      left:0;
      top:20px;
      z-index:10;
      &:before {
        color:$medDivider;
        font-size:1em;
      }
      &:active {
        &:before {
          color:$black;
        }
      }
    }
}

// Site title
.site-title {
  @extend .marquee-heading;
  color:$deepGray;
  font-size:1.640625em;
  line-height:1em;
  margin:0;
  padding:14px 0;
  text-align:center;
  a {
    color:$black;
    display:inline-block;
    text-decoration:none;
  }
}

// Marquee - introductory section for project landing page.
.marquee {
  background:$subduedAccent url('../images/bg-marquee-work-landing.jpg') no-repeat left top;
  background-size:cover;
  color:$white;
  padding:2em 0;
  text-align:center;
  &.single-project {
    padding-bottom:8em;
    position:relative;
    .marquee-overlay {
      background:$black;
      opacity:0;
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      z-index:150;
    }
    .bound {
      z-index:180;
    }
  }

  h2 {
    @extend .marquee-heading;
    font-size:2.4em;
    margin-top:0.2em;
  }

  h3 {
    font-size:1.9em;
    font-style:italic;
    font-weight:400;
    line-height:1.44em;
    margin:0.6em 0 1em;
  }

  .description {
    @extend .marquee-heading;
    font-size:1.25em;
    line-height:1.7em;
  }
}

// List of Selected Work
.work-list {

  h2 {
    @extend .marquee-heading;
    font-size:3em;
    line-height:1em;
    margin:0 0 0.25em;
    a {
      color:$darkGray;
      &:hover {
        color:$black;
      }
    }
  }

  p {
    @extend .marquee-heading;
    color:$medGray;
    font-size:1.1em;
    line-height:1.4em;
    margin:0 0 1em;
  }

  .button {
    display:none;
  }

  figure {
    position:relative;

    img {
      border:1px solid $medDivider;
      display:block;
      &:hover {
        border-color:$linkAccent;
      }
    }

    figcaption {
      background:rgba($linkAccent, 0.9);
      padding:10px 14px;
      position:absolute;
      bottom:0;
      left:0;
      right:0;

      p {
        color:$white;
        font-size:1.3em;
        margin:0;
        span {
          display:inline-block;
          font-size:0.85em;
          margin-left:10px; 
        }
      }
    }
  }

  .work-item {
    margin-bottom:4em;
    hr {
      background:$paleGray;
      margin-top:3em;
    }

    &:nth-of-type(1) {
      hr {
        display:none;
      }
    }
  }
}

.work {
  &:not(.work_index) {
    .colophon {
      hr {
        background:rgba($white, 0.2);
      }
      .fineprint {
        color:$white;
      }
    }
  }
  &.work_index {
    .colophon {
      hr {
        display:none;
      }
    }
  }
}