---
order: 2
title: "Half In Ten"
teaser: "A redesign of poverty data visualizations for Center for American Progress."
hero_img: "img-hero-halfinten"
gallery: 
  - 
    image: "img-halfinten-1"
    caption: "Breakdowns by state allow you to see at a glance how your state compares to the rest of the U.S. Carefully selected icons add impact to each indicator."
  - 
    image: "img-halfinten-2"
    caption: "Information priorities on each page were carefully considered so that top-line numbers are at your fingertips on any device."
  - 
    image: "img-halfinten-3"
    caption: "A new landing page concept was created to give users clear points of entry, as well as providing additional narrative in support of Half In Ten's mission."
  - 
    image: "img-halfinten-4"
    caption: "As the user reaches the end of the page, resources and clear calls to action get advocates engaged in the fight to reduce poverty in their area."
link: 
  title: ""
  href: ""
company: "Center for American Progress"
services: "UI Design, Copywriting"
problem: "<p>In 2010, the Center for American Progress set out to reduce poverty by 50% in the U.S. by 2020 - a project they call Half in Ten. As part of that effort, CAP needed to rethink the way they visualized poverty data to maximize its impact.</p><p>Half In Ten's leadership team identified a clear set of challenges. Their current visualizations were hard to follow and didn't tell a clear story. Also, while the charts and graphs looked good on desktops, they needed a solution that commiunicated poverty data with equal impact across all devices and screens. And finally, they wanted to use their data to reinforce the powerful story of poverty in the U.S., and catalyze users to act.</p>"
outcomes: 
  - 
    item: "Through improved balance, hierarchy and copywriting, these redesigned pages help the data speak more powerfully, dramatically improving clarity in the relationships between data points."
  - 
    item: "Wireframes were created for large and small screens, re-imagining complex charts for effective display on smartphones and other personal devices."
  - 
    item: "The new design increases the visibility of state-level breakdowns, giving users a better sense of how their state is trending over time, and compared to other states in the U.S."
---

= partial(:project, :locals => { :project => current_page.data  })