---
order: 6
title: "Highlander New Student Orientation"
teaser: "A UC Riverside webapp that guides incoming students through orientation registration."
hero_img: "img-hero-ucr-orientation"
gallery: 
  - 
    image: "img-ucr-orientation-1"
    caption: "Highlander Orientation offers different sessions tailored to specific groups of students. The redesigned webapp makes it easy for students to chose the right session."
  - 
    image: "img-ucr-orientation-2"
    caption: "The form is broken up into multiple steps with discrete sections, contextual tips and validation, making a long and complex process seem less overwhelming."
  - 
    image: "img-ucr-orientation-3"
    caption: "Getting students to read the fine print about the Orientation experience is challenging. Conversational copywriting and good IA help bring important details to the fore."
  - 
    image: "img-ucr-orientation-4"
    caption: "Detailed wireframes were created to model the registration form's complex flows and decision logic, from sign in to payment."
link: 
  title: ""
  href: ""
company: "UC Riverside"
services: "Product Strategy, UI Design, Copywriting"
problem: "<p>Navigating the college admissions process is downright frightening for many wide-eyed high school seniors. At UC Riverside, we knew that our in-person New Student Orientation sessions were one of the most confusing parts of the process.</p><p>Deciding what session to attend, registering your parents for their own information sessions, reading the fine print, paying your fees, knowing what to bring for your overnight stay on campus...many students wound up arriving unprepared, or not attending Orientation at all.</p><p>UCR found that students who attend Orientation were far less likely to struggle during their freshman year, and also less likely to drop out. Radically simplifying the online Orientation registration process was critical to the success of the program: UCR wants to create positive feelings in incoming students during these early touchpoints as students begin to form impressions of their new home."
outcomes: 
  - 
    item: "The entire user journey through the registration process was redesigned, from communication plans and email notifications down to every field in the multi-step form. Employing user-centered approaches, the product's focus shifted away from UCR's business process and toward students' needs."
  - 
    item: "Call center databases were reviewed to identify the most common student pain points. This data informed UI refinements to reduce confusion and guide students successfully through the registration form."
  - 
    item: "A new visual design was introduced to bring increased clarity and structure to UCR's webapps. The design focuses on making users feel confident and in control of the registration process, while subtly reinforcing UCR's brand."
---

= partial(:project, :locals => { :project => current_page.data  })