---
title: "KPCC for iPad"
teaser: "Product design for KPCC's native tablet app."
hero_img: "img-hero-kpcc-ipad"
gallery: 
  - 
    image: "img-kpcc-ipad-1"
    caption: "Users can select their favorite programs and have new episodes automatically added to their queue."
  - 
    image: "img-kpcc-ipad-2"
    caption: "Articles look their best on KPCC for iPad, with gorgeous images and elegant typography. Slideshows, video and audio are always just a tap away."
  - 
    image: "img-kpcc-ipad-3"
    caption: "Audio is surfaced throughout the app, making it easy to discover, queue and play radio segments and episodes."
  - 
    image: "img-kpcc-ipad-4"
    caption: "The app takes full advantage of iPad's canvas to show off the Short List's tightly curated sets of stories and beautiful photography."
link: 
  title: "Visit the App Store"
  href: "https://itunes.apple.com/us/app/kpcc-for-ipad/id744160424?mt=8"
company: "KPCC"
services: "Product strategy, Product design"
problem: "<p>With the second-largest newsroom in Los Angeles and dozens of articles published every day, KPCC needed a product that positioned it as a news brand that delivers more than just great radio.</p> <p>Focusing on the tablet as a great device for reading, we wondered if we could build an app that would draw our audience in with a great listening experience, but focus primarily on creating addictive reading habits.</p> <p>And since our most loyal fans were likely to seek out a KPCC native app, we wanted to find ways to deepen the emotional connection with our brand, building increased loyalty that could drive membership.</p>"
outcomes: 
  - 
    item: "Created a new editorial feature, The Short List, delivering curated editions of the day's news to iPad users in the early morning and late afternoon."
  - 
    item: "KPCC for iPad is the first product to successfully switch KPCC's loyal listeners to readers. Users engage in reading seven times more often than listening, and read an average of 3 stories per session."
  - 
    item: "KPCC for iPad is a product that our audience loves. It received 94% 5-star ratings in its first 30 days in the App Store, and more than half of active users use the app multiple times per day."
---

= partial(:project_helper, :locals => { :project => current_page.data  })