---
order: 4
title: "KPCC Email Newsletters"
teaser: "A visual system and front-end solution for mobile-friendly email newsletters."
hero_img: "img-hero-kpcc-emails"
gallery: 
  - 
    image: "img-kpcc-emails-1"
    caption: "KPCC's email newsletters were redesigned and coded from scratch to ensure they look amazing on mobile devices."
  - 
    image: "img-kpcc-emails-2"
    caption: "Images and typography are responsive and scale up to larger screens and desktop email clients."
  - 
    image: "img-kpcc-emails-3"
    caption: "Design patterns are matched with front-end code patterns, allowing content creators to take a 'building block' approach to email creation."
  - 
    image: "img-kpcc-emails-4"
    caption: "A single visual design system unifies our communications across breaking news, regular newsletters and membership appeals."
link: 
  title: "View the code on Github"
  href: "https://github.com/SCPR/kpcc-email-newsletters"
company: "KPCC"
services: "Design, Front-end Development"
problem: "<p>From fundraising to breaking news, email is a critical channel that helps KPCC fulfill its editorial mission and sustain its business.</p><p>With more than a half-million emails sent each month and more email opens happening on mobile devices each day, KPCC needed a complete overhaul of its email design system. The system needed to be modular, flexible and on-brand while also being responsive.</p><p>In addition to the design challenges of the project, anyone who's had to code HTML email will tell you it's painful. Very painful. Between gnarly nested tables and inline CSS, any sane developer would run screaming.</p>"
outcomes: 
  - 
    item: "By designing and coding a system of reusable components and patterns, email authors are able to assemble custom email campaigns with ease."
  - 
    item: "Created a project with a sane front-end development workflow (SCSS, Slim, helpers), along with a Premailer-based build process to inline CSS and generate battle-tested HTML email that's ready to send."
---

= partial(:project, :locals => { :project => current_page.data  })