---
order: 3
title: "KPCC.org Redesign"
teaser: "A responsive redesign for Southern California Public Radio."
hero_img: "img-hero-kpcc-redesign"
gallery: 
  - 
    image: "img-kpcc-redesign-1"
    caption: "In addition to supporting a large-scale daily newsgathering operation, the redesign also heavily feature KPCC's live community events platform."
  - 
    image: "img-kpcc-redesign-2"
    caption: "KPCC's homepage not only responds to the daily news cycle, but also can adapt to focus on major events like election night coverage."
  - 
    image: "img-kpcc-redesign-3"
    caption: "On small screens, an unobtrusive off-canvas navigation provides access to all of KPCC's news and program content, as well as a point of entry to KPCC's donation form."
  - 
    image: "img-kpcc-redesign-4"
    caption: "Across the site, multiple content types are presented in a unified interface: blog posts, radio segments, live events and visual journalism all coexist on the KPCC homepage."
link: 
  title: "View KPCC.org"
  href: "http://www.scpr.org"
company: "KPCC"
services: "Product strategy, Product design, front-end development"
problem: "<p>My first major project when I arrived at KPCC was to rethink and redesign KPCC's website from the ground up. The organization was in the midst of transformational change, attempting to merge its radio and digital editorial operations. It was also growing like crazy, doubling the size of its newsroom in less than a year.</p><p>As we embarked on the project in late 2011, KPCC had numerous goals: it needed to refresh its digital brand, serve audiences across devices, continue to delight loyal radio listeners, and establish itself as a premiere news brand in Los Angeles.</p>"
outcomes: 
  - 
    item: "By focusing on de-siloing the many types of content KPCC publishes, and designing to support a large volume of daily journalism, the redesign bolstered KPCC.org as it doubled its traffic to over 1 million monthly visits in just 12 months."
  - 
    item: "Launched in May 2012, KPCC's responsive design positioned it to support a proliferation of smartphones and tablets. Total share of traffic coming from mobile devices has increased from 20% (May '12) to 42% (Dec '13)."
  - 
    item: "The first public media organization to launch a responsive website, KPCC.org received numerous national design awards from the journalism and publishing industry."
---

= partial(:project, :locals => { :project => current_page.data  })