---
order: 5
title: "LAUP Marketing Landing Page"
teaser: "A premium advertising experience for one of KPCC's corporate underwriters."
hero_img: "img-hero-laup"
gallery: 
  - 
    image: "img-laup-1"
    caption: "After making an initial emotional impact, the landing page encourages users to launch a video that explains LAUP's values and mission."
  - 
    image: "img-laup-2"
    caption: "The landing page draws users through LAUP's story, touching down on an email signup form so LAUP can communicate directly with KPCC's audience."
  - 
    image: "img-laup-3"
    caption: "Cinematic background images bolster the copywriting and reinforce LAUP's focus on improving the educational futures of young children in Los Angeles."
  - 
    image: "img-laup-4"
    caption: "The landing page is fully responsive, giving LAUP high-quality impressions across all devices."
link: 
  title: "View LAUP landing page"
  href: "http://underwriting.herokuapp.com"
company: "KPCC, LAUP"
services: "UI Design, Front-end Development"
problem: "<p>Like most news organizations, KPCC is trying to go beyond banner ads to find new forms of digital ad revenue that are sustainable, lucrative, and provide a better user experience.</p> <p>So when LA Universal Preschool expressed interest in being the exclusive sponsor of KPCC's education coverage for an entire year, we knew we needed to design a solution that gave LAUP unique exposure, while remaining true to KPCC's member-supported, mission-driven values and ethics.</p><p>Finding the right solution meant moving into uncharted territory for both KPCC and LAUP. Ensuring advertising impact while preserving the clear distinction between advertising and editorial required close collaboration with KPCC's editorial leadership and the corporate underwriter.</p>"
outcomes: 
  - 
    item: "By designing a bespoke landing page for LAUP's campaign, KPCC created unique ad inventory that enabled it to secure premium sponsorship revenue."
  - 
    item: "The landing page includes an email sign up conversation point, giving LAUP a direct way to engage with users that goes beyond impressions and click-through."
---

= partial(:project, :locals => { :project => current_page.data  })