---
title: "Home"
teaser: "I'm a digital product designer living in Los Angeles."
---

markdown:
  Currently I'm the Director of User Experience Design for KPCC and American Public Media. I joined KPCC in 2011 as the head of product design and engineering. During that time, I've designed KPCC's websites and [apps](https://itunes.apple.com/us/app/kpcc-radio/id293825085), and lead a small product team that [makes](http://projects.scpr.org/firetracker) [amazing](http://audiovision.scpr.org/) [things](http://projects.scpr.org/officer-involved/). 

  Prior to joining KPCC, I worked for the University of California, an Idealab startup, and the San Francisco Bay Guardian. I’ve been designing and coding for the web since 2001. 

  I'm a musician, music fanatic, and lover of old films. I enjoy building better tools for people to make, publish and share creative work. Lately I've been interested in the future of publishing tools and podcasting.

  I write [here](blog/).

  I log my design work [here](work/).

  You can also find me on [Github](http://github.com/sdillingham) and [Twitter](http://twitter.com/seandillingham).