---
title: "Home"
teaser: "I'm a digital product designer and front-end developer living in Los Angeles."
---

markdown:
  Since 2011, I’ve been the head of product design and engineering at KPCC, a public radio station in L.A. During that time, I’ve designed award-winning [websites](http://www.scpr.org) and [apps](https://itunes.apple.com/us/app/kpcc-for-ipad/id744160424?mt=8), and lead a small product team that [makes](http://projects.scpr.org/firetracker) [amazing](http://audiovision.scpr.org/) [things](http://www.scpr.org/politics). 

  Prior to joining KPCC, I worked for the University of California, an Idealab startup, and the San Francisco Bay Guardian. I’ve been designing and coding for the web since 1996. 

  I'm a musician, music fanatic, and lover of old films. I enjoy building better tools for people to make, publish and share creative work. Lately I've been interested in the future of publishing tools and podcasting.

  I write [here](blog/).

  I log my design work [here](work/).

  You can also find me on [Twitter](http://twitter.com/seandillingham) and [Github](http://github.com/sdillingham).