---
description: I'm a digital product designer and technologist living in Los Angeles.
---

markdown:
  Since 2011, I’ve been the head of product design and engineering at KPCC, a public radio station in L.A. During that time, I’ve designed award-winning [websites](http://www.scpr.org) and [apps](http://www.scpr.org/ipad), and built a small product team that makes [amazing](http://audiovision.scpr.org/) [things](http://projects.scpr.org/firetracker). 

  Prior to joining KPCC, I worked for the University of California, an Idealab startup, and the San Francisco Bay Guardian. I’ve been designing and coding for the web since 1996. 

  I have a passionate desire to work on things that matter. I make, listen to, and think about music constantly. 

  I write [here](blog), and log my design work [here](work). You can also find me on [Twitter](http://twitter.com/seandillingham) and [Github](http://github.com/sdillingham).